<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Chi tiết sản phẩm</title>
  </head>
  <body>
    <header>
      <div>
        <h1><a href="#">IMZ.AI</a></h1>
      </div>
      <div>
        <a href="/products">Home</a>
        <a href="/products/create">Create</a>
      </div>
    </header>
    <main>
      <div id="detailProduct">
        <p id="idProduct" style="display: none;"><%=product.id%></p>
        <h2><%=product.name%></h2>
        <p><%=product.price%></p>
        <img src="<%=product.image%>" alt="<%=product.name%>" /><br />
        <button
          id="btnUpdateProduct"
          onclick="window.location.href = '/products/create?id=<%=product.id%>'"
        >
          Cập nhật
        </button>
        <button id="btnDeleteProduct">Xóa</button>
      </div>
    </main>
  </body>
  <script>
    const idProduct=document.getElementById("idProduct").innerHTML;
    document.getElementById("btnDeleteProduct").addEventListener("click",()=>{
      console.log(idProduct);
    fetch(`http://localhost:3000/products/delete/${idProduct}`,{
      method:"DELETE",
      headers:{
        "Content-type":"application/json;charset=UTF-8",
      }
    })
    .then((res)=>res.json())
    .then(({code})=>{
      if(code==200){
        window.location.href="/products";
      }
    });
    })
    
  </script>
</html>
