<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%=title%></title>
</head>
<body>
    <header>
        <div>
            <h1><a href="#">IMZ.AI</a></h1>
        </div>
        <div>
            <a href="#">Home</a>
            <a href="#">Create</a>
        </div>
    </header>
    <main>
        <div id="products">
        <%products.forEach(item=>{%>
          <div class="itemProduct" onclick="window.location.href='/products/detail/<%=item.id%>'">
            <div>
                <img src="<%=item.image%>" alt="<%=item.name%>">
            </div>
            <div>
                <p><%=item.name%></p>
                <p><%=item.price%></p>
                <p><%=item.category?.name||"Chứa có danh mục"%></p>
            </div>
          </div>
          <%})%>
        </div>
       
    </main>
</body>
</html>